<a href="https://colab.research.google.com/github/LeDinhHung2211/AI_NeuralNmetwork/blob/main/Robot_Kinematic(2bac).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import libraries
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score,recall_score,confusion_matrix,classification_report,accuracy_score,f1_score
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout, BatchNormalization, LSTM,Conv2D, MaxPooling2D, Flatten,LeakyReLU
from tensorflow.keras.optimizers import RMSprop,SGD
from keras import callbacks
from keras.callbacks import EarlyStopping

In [ ]:
data_robot = []
l1 = 50
l2 = 40
for tt1 in range (-60,60):
  for tt2 in range (-40,40):
    px = l1*np.cos(np.radians(tt1)) + l2*np.cos(np.radians(tt1 + tt2))
    py = l1*np.sin(np.radians(tt1)) + l2*np.sin(np.radians(tt1 + tt2))
    data_robot.append([tt1,tt2,px,py])
data = pd.DataFrame(data_robot,columns=['tt1','tt2','Px','Py'])
data

      tt1  tt2         Px         Py
0     -60  -40  18.054073 -82.693580
1     -60  -39  18.742621 -82.808804
2     -60  -38  19.433076 -82.911993
3     -60  -37  20.125226 -83.003116
4     -60  -36  20.818861 -83.082146
...   ...  ...        ...        ...
9595   59   35  22.961645  82.760927
9596   59   36  22.265674  82.706153
9597   59   37  21.570765  82.639241
9598   59   38  20.877130  82.560211
9599   59   39  20.184980  82.469088

[9600 rows x 4 columns]

In [ ]:
Y_df=data.drop(['Px','Py'],axis =1)
X_df=data.drop(['tt1','tt2'],axis =1)
print(X_df.shape,Y_df.shape)

(9600, 2) (9600, 2)

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X_df,Y_df,test_size=0.2,random_state =7)
print(X_train.shape,Y_train.shape,X_test.shape,Y_test.shape)

(7680, 2) (7680, 2) (1920, 2) (1920, 2)

In [ ]:
# Create model
model = Sequential()
model.add(Dense(64,kernel_initializer='normal',activation='relu',input_shape=(2,)))
model.add(Dense(64,activation ='relu'))
model.add(Dense(64,activation ='relu'))
model.add(Dense(2))
model.summary()

opt = SGD(learning_rate=0.001,momentum=0.1) #toc do hoc 0.01, momen dong luong 0.9 'Ftrl'
model.compile(loss='mse',optimizer=opt,metrics=['accuracy'])

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_20 (Dense)            (None, 64)                192

 dense_21 (Dense)            (None, 64)                4160

 dense_22 (Dense)            (None, 64)                4160

 dense_23 (Dense)            (None, 2)                 130

=================================================================
Total params: 8,642
Trainable params: 8,642
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile model
model.compile(loss='mse', optimizer=RMSprop(), metrics = ['accuracy'])

In [ ]:
# Train model
history = model.fit(X_train, Y_train, batch_size = 128, epochs=50,verbose=1,validation_split=0.2, callbacks=[EarlyStopping(monitor='val_loss', patience=20)])

Epoch 1/50
48/48 [==============================] - 0s 6ms/step - loss: 271.6651 - accuracy: 0.7601 - val_loss: 278.4796 - val_accuracy: 0.7474
Epoch 2/50
48/48 [==============================] - 0s 4ms/step - loss: 271.5824 - accuracy: 0.7625 - val_loss: 278.7487 - val_accuracy: 0.7474
Epoch 3/50
48/48 [==============================] - 0s 4ms/step - loss: 271.2706 - accuracy: 0.7611 - val_loss: 276.9128 - val_accuracy: 0.7480
Epoch 4/50
48/48 [==============================] - 0s 5ms/step - loss: 271.4431 - accuracy: 0.7614 - val_loss: 279.0995 - val_accuracy: 0.7467
Epoch 5/50
48/48 [==============================] - 0s 4ms/step - loss: 271.6148 - accuracy: 0.7632 - val_loss: 279.2593 - val_accuracy: 0.7474
Epoch 6/50
48/48 [==============================] - 0s 5ms/step - loss: 271.3908 - accuracy: 0.7603 - val_loss: 276.7643 - val_accuracy: 0.7480
Epoch 7/50
48/48 [==============================] - 0s 4ms/step - loss: 270.4886 - accuracy: 0.7612 - val_loss: 279.2717 - val_accuracy: 0.7461
Epoch 8/50
48/48 [==============================] - 0s 4ms/step - loss: 271.3418 - accuracy: 0.7593 - val_loss: 276.3410 - val_accuracy: 0.7467
Epoch 9/50
48/48 [==============================] - 0s 5ms/step - loss: 271.1413 - accuracy: 0.7603 - val_loss: 281.4356 - val_accuracy: 0.7487
Epoch 10/50
48/48 [==============================] - 0s 5ms/step - loss: 270.9610 - accuracy: 0.7620 - val_loss: 279.5770 - val_accuracy: 0.7493
Epoch 11/50
48/48 [==============================] - 0s 4ms/step - loss: 270.8477 - accuracy: 0.7594 - val_loss: 277.8746 - val_accuracy: 0.7461
Epoch 12/50
48/48 [==============================] - 0s 4ms/step - loss: 271.0667 - accuracy: 0.7612 - val_loss: 280.4691 - val_accuracy: 0.7474
Epoch 13/50
48/48 [==============================] - 0s 5ms/step - loss: 271.1663 - accuracy: 0.7624 - val_loss: 277.2032 - val_accuracy: 0.7467
Epoch 14/50
48/48 [==============================] - 0s 5ms/step - loss: 270.9056 - accuracy: 0.7638 - val_loss: 277.3277 - val_accuracy: 0.7493
Epoch 15/50
48/48 [==============================] - 0s 5ms/step - loss: 271.0196 - accuracy: 0.7612 - val_loss: 276.7438 - val_accuracy: 0.7480
Epoch 16/50
48/48 [==============================] - 0s 5ms/step - loss: 270.6802 - accuracy: 0.7624 - val_loss: 279.5814 - val_accuracy: 0.7480
Epoch 17/50
48/48 [==============================] - 0s 4ms/step - loss: 270.6706 - accuracy: 0.7599 - val_loss: 278.0340 - val_accuracy: 0.7474
Epoch 18/50
48/48 [==============================] - 0s 5ms/step - loss: 270.9084 - accuracy: 0.7620 - val_loss: 276.5395 - val_accuracy: 0.7474
Epoch 19/50
48/48 [==============================] - 0s 4ms/step - loss: 271.3806 - accuracy: 0.7598 - val_loss: 277.5249 - val_accuracy: 0.7441
Epoch 20/50
48/48 [==============================] - 0s 5ms/step - loss: 270.7392 - accuracy: 0.7616 - val_loss: 280.8892 - val_accuracy: 0.7474
Epoch 21/50
48/48 [==============================] - 0s 4ms/step - loss: 270.9174 - accuracy: 0.7612 - val_loss: 277.8639 - val_accuracy: 0.7435
Epoch 22/50
48/48 [==============================] - 0s 4ms/step - loss: 270.8637 - accuracy: 0.7632 - val_loss: 277.1682 - val_accuracy: 0.7467
Epoch 23/50
48/48 [==============================] - 0s 4ms/step - loss: 270.7577 - accuracy: 0.7620 - val_loss: 277.5925 - val_accuracy: 0.7467
Epoch 24/50
48/48 [==============================] - 0s 5ms/step - loss: 270.4515 - accuracy: 0.7640 - val_loss: 279.4314 - val_accuracy: 0.7474
Epoch 25/50
48/48 [==============================] - 0s 5ms/step - loss: 270.4013 - accuracy: 0.7617 - val_loss: 277.8528 - val_accuracy: 0.7474
Epoch 26/50
48/48 [==============================] - 0s 4ms/step - loss: 270.5854 - accuracy: 0.7614 - val_loss: 277.6136 - val_accuracy: 0.7474
Epoch 27/50
48/48 [==============================] - 0s 4ms/step - loss: 270.6863 - accuracy: 0.7601 - val_loss: 276.6799 - val_accuracy: 0.7474
Epoch 28/50
48/48 [==============================] - 0s 5ms/step - loss: 270.3482 - accuracy: 0.7625 - val_loss: 277.1129 - val_accuracy: 0.7474

In [ ]:
test = np.array([[50,40],[0,90]])
y_predict = model.predict(test)
print(y_predict)

[[28.337875  -0.3039411]
 [63.192772  49.580482 ]]